.container{
    background-color: aqua;
    text-align: center;
    padding: 5rem;
    margin: 15rem;
    border: 5px solid purple;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}






















