.not{
    margin: 2rem auto;
    border: 3px solid salmon;
    background-color: skyblue;
    padding: 2rem;
    width: 500px;
    color: blueviolet;
    font-size: 2rem;
    text-transform: uppercase;    
    font-weight: bold;
}

.message{
    font-size: 2rem;
    font-weight: bold;
    background-color: salmon;
    color: skyblue;
}