body{
    margin: 0;
}

.card{
    margin: 30px;
    display: flex;
    gap: 8px;
}

.card .ilkSayi,
.card .ikinciSayi,
.card .btn{
    color: red;
    font-size: 1.5rem;
    background-color: aquamarine;
    padding: 20px;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card .btn{
    cursor: pointer;
}

.card .sonuc{
    background-color: greenyellow;
    padding: 10px;
    margin-left: 15px;
}
